services:
  db:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: w2s_db
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./postgres_data:/var/lib/postgresql

  server:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env.dev
    command: >
      sh -c "
        while ! pg_isready -U postgres; do
          echo 'Waiting for PostgreSQL to be ready...';
          sleep 2;
        done;
        bunx prisma migrate dev &&
        bunx prisma db seed &&
        bun run dev
      "
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: